# Load & Install Package

In [1]:
## Install package
##!pip install pymysql
##!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

WARNING: You are using pip version 21.1.1; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\program files\python39\python.exe -m pip install --upgrade pip' command.

In [8]:
##load package
from sqlalchemy import create_engine
import pandas as pd
import pymysql

# Extract from PostgreSQL

Table List:
- Album
- Artist
- Customer
- Employee
- Genre
- Invoice
- InvoiceLine
- MediaType
- Playlist
- PlaylistTrack
- Track

In [9]:
## create postgresql_engine
engine1 = create_engine('postgresql://postgres:abcd1234@127.0.0.1:5432/postgres')

In [10]:
## extract tables from potgresql
df_album        =pd.read_sql_query('select * from postgres.public."Album";',con=engine1)
df_artist       =pd.read_sql_query('select * from postgres.public."Artist";',con=engine1)
df_customer     =pd.read_sql_query('select * from postgres.public."Customer";',con=engine1)
df_employee     =pd.read_sql_query('select * from postgres.public."Employee";',con=engine1)
df_genre        =pd.read_sql_query('select * from postgres.public."Genre";',con=engine1)
df_invoice      =pd.read_sql_query('select * from postgres.public."Invoice";',con=engine1)
df_invoiceline  =pd.read_sql_query('select * from postgres.public."InvoiceLine";',con=engine1)
df_mediatype    =pd.read_sql_query('select * from postgres.public."MediaType";',con=engine1)
df_playlist     =pd.read_sql_query('select * from postgres.public."Playlist";',con=engine1)
df_playlisttrack=pd.read_sql_query('select * from postgres.public."PlaylistTrack";',con=engine1)
df_track        =pd.read_sql_query('select * from postgres.public."Track";',con=engine1)

In [11]:
## checking ectracted table
## df_track

,TrackId,Name,AlbumId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,1,For Those About To Rock (We Salute You),1,1,1,"Angus Young, Malcolm Young, Brian Johnson",343719,11170334,0.99
1,2,Balls to the Wall,2,2,1,None,342562,5510424,0.99
2,3,Fast As a Shark,3,2,1,"F. Baltes, S. Kaufman, U. Dirkscneider & W. Ho...",230619,3990994,0.99
3,4,Restless and Wild,3,2,1,"F. Baltes, R.A. Smith-Diesel, S. Kaufman, U. D...",252051,4331779,0.99
4,5,Princess of the Dawn,3,2,1,Deaffy & R.A. Smith-Diesel,375418,6290521,0.99
...,...,...,...,...,...,...,...,...,...
3498,3499,Pini Di Roma (Pinien Von Rom) \ I Pini Della V...,343,2,24,None,286741,4718950,0.99
3499,3500,"String Quartet No. 12 in C Minor, D. 703 ""Quar...",344,2,24,Franz Schubert,139200,2283131,0.99
3500,3501,"L'orfeo, Act 3, Sinfonia (Orchestra)",345,2,24,Claudio Monteverdi,66639,1189062,0.99
3501,3502,"Quintet for Horn, Violin, 2 Violas, and Cello ...",346,2,24,Wolfgang Amadeus Mozart,221331,3665114,0.99
3502,3503,Koyaanisqatsi,347,2,10,Philip Glass,206005,3305164,0.99

# Load to MySQL

Load all datafarames into these tables:
- album2
- artist2
- customer2
- employee2
- genre2
- invoice2
- invoiceline2
- mediatype2
- playlist2
- playlisttrack2
- track2

In [12]:
## creaate mysql_engine
engine2 = create_engine('mysql+pymysql://root:abcd1234@127.0.0.1:3306/hr')

In [13]:
df_album.to_sql("album2", con=engine2, if_exists="replace", index=False)
df_artist.to_sql("artist2", con=engine2, if_exists="replace", index=False)
df_customer.to_sql("customer2", con=engine2, if_exists="replace", index=False)
df_employee.to_sql("employee2", con=engine2, if_exists="replace", index=False)
df_genre.to_sql("genre2", con=engine2, if_exists="replace", index=False)
df_invoice.to_sql("invoice2", con=engine2, if_exists="replace", index=False)
df_invoiceline.to_sql("invoiceline2", con=engine2, if_exists="replace", index=False)
df_mediatype.to_sql("mediatype2", con=engine2, if_exists="replace", index=False)
df_playlist.to_sql("playlist2", con=engine2, if_exists="replace", index=False)
df_playlisttrack.to_sql("playlisttrack2", con=engine2, if_exists="replace", index=False)
df_track.to_sql("track2", con=engine2, if_exists="replace", index=False)

In [14]:
## checking loaded table
## pd.read_sql_query('select * from hr.album2;',con=engine2)

     AlbumId                                              Title  ArtistId
0          1              For Those About To Rock We Salute You         1
1          2                                  Balls to the Wall         2
2          3                                  Restless and Wild         2
3          4                                  Let There Be Rock         1
4          5                                           Big Ones         3
..       ...                                                ...       ...
342      343                             Respighi:Pines of Rome       226
343      344  Schubert: The Late String Quartets & String Qu...       272
344      345                                Monteverdi: L'Orfeo       273
345      346                              Mozart: Chamber Music       274
346      347  Koyaanisqatsi (Soundtrack from the Motion Pict...       275

[347 rows x 3 columns]

# Convert into Callable Python Function

In [ ]:
def callable_python():
    from sqlalchemy import create_engine
    import pandas as pd
    import pymysql

    ## create postgresql_engine & mysql_engine
    engine1 = create_engine('postgresql://postgres:abcd1234@127.0.0.1:5432/postgres')
    engine2 = create_engine('mysql+pymysql://root:abcd1234@127.0.0.1:3306/hr')

    def etl_function(table_name):
        ##extract_table
        sql_query1 = 'select * from postgres.public."%s";'%(table_name)
        df=pd.read_sql_query(sql_query1,con=engine1)

        ##load_table
        new_table = str.lower(table_name) + '2'
        df.to_sql(new_table, con=engine2, if_exists="replace", index=False)

    table_name = [
    'Album'
    ,'Artist'
    ,'Customer'
    ,'Employee'
    ,'Genre'
    ,'Invoice'
    ,'InvoiceLine'
    ,'MediaType'
    ,'Playlist'
    ,'PlaylistTrack'
    ,'Track']
        
    for i in table_name:
        etl_function(i)
        print('Finished extracting %s'%(i), end='\n')